@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Caveat:wght@700&family=DM+Sans:wght@400;500;700&family=Epilogue:wght@500;700&family=Fuzzy+Bubbles:wght@400;700&family=Inter:wght@300;500;700&family=Kumbh+Sans:wght@400;700&family=Noto+Sans:wght@400;600&family=Overpass:wght@400;700&family=Pacifico&family=Plus+Jakarta+Sans:wght@500;700&family=Poppins:ital,wght@0,400;0,700;1,400;1,500;1,600&family=Red+Hat+Display:wght@500;900&family=Red+Hat+Text:wght@400;700&family=Roboto:wght@700&family=Silkscreen&family=Space+Mono:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  
}

body{
  font-family: 'Kumbh Sans';
  margin-right: 0px;
  header{
    
    .container{
      max-width: 1110px;
      margin: 0 auto;


      nav{
        // border: 1px solid red;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: 31px;
        margin-bottom: 20px;
        border-bottom: 1px solid  #E4E9F2;
        // padding: 41px 0;
        // background: rgb(224, 170, 170);


        .left_nav{

          .burger{
            img{
              display:none ;
            }
          }

          .logo{
            img{
              width: 137px;
              height: 20px;
              margin-right: 56px;
            }
          }

          // border: 1px solid rgb(0, 255, 42);
          display: flex;
          // column-gap: 56px;


          ul{
            // border: 1px solid red;
            display: flex;
            gap: 32px;
            // margin-bottom: 40px;
            height: 70px;

            li{
              // margin-bottom: 41px;
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 26px;
              color: #69707D;
              &:hover{
                border-bottom: 4px solid red;
                cursor: pointer;
                // margin-top: 40px;
              }
            }
          }


        }


        .right_nav{
          // border:  1px solid red;
          display: flex;
          column-gap: 46px;


          .market{
            cursor: pointer;
            position: relative;
            margin-top: 3px;

             .count_shoos_sum{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 19px;
              height: 13px;
              background: #FF7E1B;
              border-radius: 6.5px;
              position: absolute;
              top: -7px;
              left: 12px;
              font-style: normal;
              font-weight: 700;
              font-size: 10px;
              color: #FFFFFF;
              // display: block;

            }

              .show_hidden{
                display: none;
              }
            }
              .man_img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                cursor: pointer;
                margin-top: -13px;

                img{
                  width: 100%;
                  height: 100%;
                }&:hover{
                  // margin-top: 20px;
                  border: 2px solid #FF7E1B;
                }
              }
          }
          
        }
      }
    }
  }
  
  


  main{
    // background: rgb(214, 214, 177);
    display: flex;
    justify-content: space-between;
    
    gap: 125px;
    max-width: 1110px;
    margin: 0 auto;
    padding: 50px 40px;
    
    .img_block{
      // border:  1px solid red;

      .boots{
        width: 445px;
        height: 445px;
        margin-bottom: 32px;
        display: none;
      }

      .full{
        img{
          width: 100%;
          height: 100%;
        }
      }

      .boots_img{
        display: flex;
        justify-content: space-between;

        .shoes{
          width: 88px;
          height: 88px;
          // border: 1px solid red;

          img{
            width: 100%;
            height: 100%;
          }
          cursor: pointer;
          &:hover{
            opacity: 0.5;
          }
        }

      }

      .activite{
        display: block;
      }

    }

    .text_block{
      // width: 445px;
      margin-top: 58px;
      // border: 1px solid green;
      .comp_name{
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FF7E1B;
        margin-bottom: 27px;
      }

      h1{
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 48px;
        color: #1D2026;
        margin-bottom: 32px;

      }

      p{
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #69707D;
      margin-bottom: 28px;
      

      }

      .time_sena{
        display: flex;
        justify-content: space-between;
        padding-right: 30px;

        .product_sena{
          // display: flex;
          // flex-direction: column;         

          .discount{
            display: flex;
            // flex-direction: column;

            .sena{
              font-family: 'Kumbh Sans';
              font-style: normal;
              font-weight: 700;
              font-size: 28px;
              line-height: 35px;
              color: #1D2026;
              margin-right: 25px;
              margin-bottom: 10px;
            }
            .parcent{
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 20px;
              color: #FF7E1B;
              background: #FFEEE2;
              margin-top: 9px;
              width: 40px;
              height: 21px;
              border-radius: 3px;
              text-align: center;
              
            }

          }

          .spam{
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 26px;
            text-decoration-line: line-through;
            color: #B6BCC8;
            margin-bottom: 36px;


          }

          
        }

        .time{
          display: flex;
          // margin-top: 32px;
          display: flex;
          color: #FF7E1B;
          justify-content: center;
          // align-items: center;
          margin-top: 14px;
          margin-bottom: 80px;
          gap: 5px;

          span{
            margin-top: 5px;
            .top{
              width: 3px;
              height: 3px;
              background: #FF7E1B;
            }
            .bottom{
              width: 3px;
              height: 3px;
              background:#FF7E1B;
              margin-top: 6px;

            }
          }

          .full_time{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 29px;
            height: 20px;
            background: #FFEEE2;
            padding: 2px 8px 2px 8px;
            border-radius: 3px;
            font-weight: 700;
            font-size: 16px
          }

        }
      }

      .add_to_card{
        display: flex;
        gap: 16px;

        .count{
          width: 157px;
          height: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 45px;
          // color: #FF7E1B;
          // // padding: 0px 76px;
          background: #F6F8FD;
          // margin-right: 16px;
          border-radius: 8px;
          // padding: 0px 15px;

          .sum{
            color:#1D2026;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
          }

          .cursor{
            cursor: pointer;
            width: 13px;
            height: 13px;
            color:#FF7E1B;
            font-size: 40px;
            text-align: center;
            margin-top: -40px;
          }
        }

        .add_inform{
          // width: 272px;
          height: 56px;
          display: flex;
          // flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 22px 72px;
          gap: 15px;
          background: #FF7E1B;
          box-shadow: 0px 20px 50px -20px #FF7E1B;
          border-radius: 10px;
          cursor: pointer;

          &:hover{
            background:  #FFAB6A;
          }
          // img{


          // }

          .p{
            // margin-left: 15px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            color: #fff
            
            // margin-top: -3px;

          }
        }
      }
    
    }

  }


  .modal{
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 250px;
    height: 900px;
    padding: 25px 25px;
    border: 0;
    // display: none;

    .delet{
      margin-bottom: 53px;
    }

    ul{
      display: flex;
      flex-direction: column;
      gap: 20px;
      li{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #1D2026;

      }
    }
  }

  .hidden{
    display: none;
  }


  .card{
    width: 360px;
    height: 256px;
    background: #fff;
    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
    border-radius: 10px; 
    position: fixed; 
    top: 10%;
    right: 10%;
    // display: none;

    .text_card{
      color: #1D2026;
      font-weight: 700;
      font-size: 16px;
      // margin-bottom: 27px;
      padding: 24px 24px;

    }

    .hr{

      width: 100%;
      height: 1px;
      background: #E4E9F2;
    }

    .card_active{
      // display: flex;
      // border: 1px solid red;
      padding: 25px 24px;
      // display: none;

      .into_card{
        display: flex;
        margin-bottom: 24px;
        gap: 15px;
        // border: 1px solid red;

          .full_count{
            // border: 1px solid red;
            p{
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              color: #1c4ca5;
            }

            .full_boots_price{
              display: flex;
              gap: 3px;

              .boots_sell{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #69707D;

              }

              .boots_price{
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                color: #1D2026;
              }
            }
          }
        }



        .delete{
          // margin-left: 10px;
          margin-top: 15px;
        }

    }



    .checkout{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 312px;
      height: 56px;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #FFFFFF;
      background: #FF7E1B;
      border-radius: 10px;
      text-align: center;
    }

    .sell{
      margin-top: 77px;
      display: none;

      p{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: #69707D;
      }
    }

    .jjj{
      display:block;
    }

    // .card_hidden_delet{
    //   display:none;
    // }



  }

  .hidden{
    display: none;
  }

  .count_shoos_sum{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 13px;
    background: #FF7E1B;
    border-radius: 6.5px;
    position: absolute;
    top: 23px;
    left: 83%;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    color: #FFFFFF;
    // display: block;

  }

  .show_hidden{
    display: none;
  }

  ///slider=    ------   slder    
  .slider__modal{
    // display: none;
					position: absolute;
					width: 550px;
					height: max-content;
					z-index: 9999;
					// top: 90px;
          // margin-left: 30%;
					.close-btn{
						height: 44px;
						width: 100%;
						display: flex;
						justify-content: flex-end;
						align-items: flex-start;
						margin-left: 275px;
					}
					.close-btn:hover{
						cursor: pointer;
					}
					.slider {
						width: 1110px;
						height: 550px;
						display: flex;
						align-items: center;
						justify-content: center;
						.slide-prev,.slide-next{
							cursor: pointer;
							width: 56px;
							height: 56px;
							background-color: #fff;
							border-radius: 50%;
							display: flex;
							align-items: center;
							justify-content: center;
							// z-index: 9999;
						}
						.slider__img {
							display: flex;
							width: 550px;
							height: 100%;
							overflow: hidden;
							.slider-inner {
								display: flex;
								width: max-content;
								transition: 0.5s;
								.slide {
									width: 550px;
									height: 550px;
									img {
										width: 550px;
										height: 550px;
										border-radius: 10px;
									}
								}
							}
						}
					}
					.modal-img {
						width: 1110px;
						display: flex;
						justify-content: center;
						margin-top: 40px;
						column-gap: 31px;
						img {
							width: 88px;
							height: 88px;
						}
						img:hover{
							opacity: 0.4;
						}
					}
				}
        

       .slider__modal{
					position: absolute;
					width: 950px;
					height: max-content;
					z-index: 9999;
					top: 90px;
					.close-btn{
						height: 44px;
						width: 100%;
						display: flex;
						justify-content: flex-end;
						align-items: flex-start;
						margin-left: -125px;

					}&:hover{
            color: red;
            // background: green;
            }
					.close-btn:hover{
						cursor: pointer;
					}
					.slider {
						width: 1110px;
						height: 550px;
						display: flex;
						align-items: center;
						justify-content: center;
						.slide-prev,.slide-next{
							cursor: pointer;
							width: 56px;
							height: 56px;
							background-color: #fff;
							border-radius: 50%;
							display: flex;
							align-items: center;
							justify-content: center;
							z-index: 9999;
						}
						.slider__img {
							display: flex;
							width: 550px;
							height: 100%;
							overflow: hidden;
							.slider-inner {
								display: flex;
								width: max-content;
								transition: 0.5s;
								.slide {
									width: 550px;
									height: 550px;
									img {
										width: 550px;
										height: 550px;
										border-radius: 10px;
									}
								}
							}
						}
					}
					.modal-img {
						width: 1110px;
						display: flex;
						justify-content: center;
						margin-top: 40px;
						column-gap: 31px;
						img {
							width: 88px;
							height: 88px;
						}
						img:hover{
							opacity: 0.4;
						}
					}
				}


              .overly {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                background: #000000;
                opacity: 0.75;
              }


        // mobile shoxruz
        // .mobile{
				// 	// display: none;
				// 	justify-content: center;
				// 	align-items:center;
				// 	width: 100%;
				// 	height: 300px;
				// 	.slide-prev-mobile{
				// 		font-size: 48px;
				// 		cursor: pointer;
				// 		width: 40px;
				// 		height: 40px;
				// 		background-color: #fff;
				// 		border-radius: 50%;
				// 		display: flex;
				// 		align-items: center;
				// 		justify-content: center;
				// 		z-index:999;
				// 		margin-right: -56px;
				// 	}
				// 	.slide-next-mobile{
				// 		font-size: 48px;
				// 		cursor: pointer;
				// 		width: 40px;
				// 		height: 40px;
				// 		background-color: #fff;
				// 		border-radius: 50%;
				// 		display: flex;
				// 		align-items: center;
				// 		justify-content: center;
				// 		z-index: 9999;
				// 		margin-left: -56px;
				// 	}
				// 	.slider-mobile{
				// 		position: relative;
				// 		display: flex;
				// 		width: 100%;
				// 		height: 300px;
				// 		.slide{
				// 			position: absolute;
				// 			top: 0;
				// 			left: 0;
				// 			width: 100%;
				// 			height: 100%;
				// 			opacity: 0;
				// 			transition: 0.5s;
				// 			img{
				// 				width: 100%;
				// 				height: 300px;
				// 			}
				// 		}	
				// 	}
				// 	.slider-mobile .slide.active{
				// 		opacity: 1;
				// 	}
				// }

        // .overly{
        //   display: none;
        //   position: relative;
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        //   width: 100%;
        //   height: 100%;
        //   background: #000000;
        //   mix-blend-mode: normal;
        //   opacity: 0.75;
        //   position: fixed;
        //   top: 0;
        //   bottom: 0;
        //   left: 0;
        // }


        // .slider_block{
        //   margin-left: 20px;
        //   position: relative;
        //   display: flex;
        //   .tab_left{
        //     display: flex;
        //     justify-content: center;
        //     align-items: center ;
        //     width: 40px;
        //     height: 40px;
        //     background: rgb(233, 169, 169);
        //     top: 45%;
        //     left: 10px;
        //     border-radius: 50%;
        //     position: absolute;
        //   }
        //   .slider_parent{
        //     .slider_inner{
        //       .slider{
        //         display: none;
        //       }
        //       .active{
        //         display: block;
        //       }
        //     }
        //   }

        //   .tab_right{
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     width: 40px;
        //     height: 40px;
        //     background: rgb(248, 168, 168);
        //     border-radius: 50%;
        //     position: absolute;
        //     top: 45%;
        //     left: 305px;
        //   }
        // }


        //         .mobile{
				// 	// display: none;
				// 	justify-content: center;
				// 	align-items:center;
				// 	width: 100%;
				// 	height: 300px;
				// 	.slide-prev-mobile{
				// 		font-size: 48px;
				// 		cursor: pointer;
				// 		width: 40px;
				// 		height: 40px;
				// 		background-color: #fff;
				// 		border-radius: 50%;
				// 		display: flex;
				// 		align-items: center;
				// 		justify-content: center;
				// 		z-index: 999;
				// 		margin-right: -56px;
				// 	}
				// 	.slide-next-mobile{
				// 		font-size: 48px;
				// 		cursor: pointer;
				// 		width: 40px;
				// 		height: 40px;
				// 		background-color: #fff;
				// 		border-radius: 50%;
				// 		display: flex;
				// 		align-items: center;
				// 		justify-content: center;
				// 		z-index: 9999;
				// 		margin-left: -56px;
				// 	}
				// 	.slider-mobile{
				// 		position: relative;
				// 		display: flex;
				// 		width: 100%;
				// 		height: 300px;
				// 		.slide{
				// 			position: absolute;
				// 			top: 0;
				// 			left: 0;
				// 			width: 100%;
				// 			height: 100%;
				// 			opacity: 0;
				// 			transition: 0.5s;
				// 			img{
				// 				width: 100%;
				// 				height: 300px;
				// 			}
				// 		}	
				// 	}
				// 	.slider-mobile .slide.active{
				// 		opacity: 1;
				// 	}
				// }
        



 


 








  
    








