@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Caveat:wght@700&family=DM+Sans:wght@400;500;700&family=Epilogue:wght@500;700&family=Fuzzy+Bubbles:wght@400;700&family=Inter:wght@300;500;700&family=Kumbh+Sans:wght@400;700&family=Noto+Sans:wght@400;600&family=Overpass:wght@400;700&family=Pacifico&family=Plus+Jakarta+Sans:wght@500;700&family=Poppins:ital,wght@0,400;0,700;1,400;1,500;1,600&family=Red+Hat+Display:wght@500;900&family=Red+Hat+Text:wght@400;700&family=Roboto:wght@700&family=Silkscreen&family=Space+Mono:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  
}

body{

  font-family: 'Kumbh Sans';
  margin-right: 0px;
  header{
    
    .container{
      max-width: 1110px;
      margin: 0 auto;


      nav{
        // border: 1px solid red;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: 31px;
        margin-bottom: 20px;
        border-bottom: 1px solid  #E4E9F2;
        // padding: 41px 0;
        // background: rgb(224, 170, 170);


        .left_nav{

          .burger{
            img{
              display:none ;
            }
          }

          .logo{
            img{
              width: 137px;
              height: 20px;
              margin-right: 56px;
            }
          }

          // border: 1px solid rgb(0, 255, 42);
          display: flex;
          // column-gap: 56px;


          ul{
            // border: 1px solid red;
            display: flex;
            gap: 32px;
            // margin-bottom: 40px;

            li{
              margin-bottom: 41px;
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 26px;
              /* identical to box height, or 173% */
              color: #69707D;
              &:hover{
                border-bottom: 4px solid red;
                cursor: pointer;
              }
            }
          }


        }


        .right_nav{
          // border:  1px solid red;
          display: flex;
          column-gap: 46px;


          .market{
            img{
              
            }
          }
          .man_img{
            img{
              width: 50px;
              height: 50px;
              margin-top: -15px;
              
            }
            &:hover{
              // border: 1px solid red;
              cursor: pointer;
            }
          }
          
        }
      }
    }
  }
  
  


  main{
    // background: rgb(214, 214, 177);
    display: flex;
    gap: 125px;
    width: 1110px;
    margin: 0 auto;
    padding: 50px 40px;
    
    .img_block{

      .boots{
        width: 445px;
        height: 445px;
        margin-bottom: 32px;
        display: none;
      }

      .full{
        img{
          width: 100%;
          height: 100%;
        }
      }

      .boots_img{
        display: flex;
        justify-content: space-between;
      }

      .activite{
        display: block;
      }

    }

    .text_block{
      margin-top: 58px;
      .comp_name{
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FF7E1B;
        margin-bottom: 27px;
      }

      h1{
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 48px;
        color: #1D2026;
        margin-bottom: 32px;

      }

      p{
        font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #69707D;
      margin-bottom: 28px;
      

      }

      .time_sena{
        display: flex;
        justify-content: space-between;
        padding-right: 30px;

        .product_sena{
          display: flex;

          .discount{

            .sena{
              font-family: 'Kumbh Sans';
              font-style: normal;
              font-weight: 700;
              font-size: 28px;
              line-height: 35px;
              color: #1D2026;
              margin-right: 25px;
              margin-bottom: 10px;
            }

            .spam{
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 26px;
              text-decoration-line: line-through;
              color: #B6BCC8;
              margin-bottom: 36px;
              
            }

          }

          .parcent{
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #FF7E1B;
            background: #FFEEE2;
            margin-top: 9px;
            width: 40px;
            height: 21px;
            border-radius: 3px;
            text-align: center;

          }

          
        }

        .time{
          display: flex;
          // margin-top: 32px;
          display: flex;
          color: #FF7E1B;
          justify-content: center;
          margin-top: 14px;
          margin-bottom: 80px;
          gap: 10px;

          .full_time{
            background: #FFEEE2;
            padding: 0px 9px;
            border-radius: 3px;
          }

        }
      }

      .add_to_card{
        display: flex;

        .count{
          // width: 157px;
          // height: 56px;
          display: flex;
          justify-content: space-between;
          color: #FF7E1B;
          // padding: 0px 76px;
          background:  #FFEEE2;
          margin-right: 16px;
          border-radius: 8px;
          padding: 0px 56px;

          .num{
            color: #000;
          }
        }

        .add_inform{
          // width: 272px;
          // height: 56px;

          display: flex;
          padding: 0px 76px;
          background: #FF7E1B;
          // box-shadow: 0px 20px 50px -20px #FF7E1B;
          border-radius: 10px;
          img{


          }

          p{
            margin-left: 15px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            color: #FFFFFF;
            margin-top: -3px;

          }
        }
      }
    
    }

  }


  .modal{
    position: fixed;
    top: 0;
    left: 0;
    background: #f3c9a9;
    width: 250px;
    height: 900px;
    padding: 25px 25px;
    // display: none;

    .delet{
      margin-bottom: 53px;
    }

    ul{
      display: flex;
      flex-direction: column;
      gap: 20px;
      li{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #1D2026;

      }
    }
  }

  .hidden{
    display: none;
  }


  .card{
    width: 360px;
    height: 256px;
    background: #fff;
    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
    border-radius: 10px; 
    position: fixed; 
    top: 10%;
    right: 10%;
    // display: none;

    .text_card{
      color: #1D2026;
      font-weight: 700;
      font-size: 16px;
      // margin-bottom: 27px;
      padding: 24px 24px;

    }

    .hr{

      width: 100%;
      height: 1px;
      background: #E4E9F2;
    }

    .sell{

      p{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: #69707D;
      }
    }
  }

  .hidden{
    display: none;
  }




  //phone version

  @media only screen and (max-width: 768px) {

    header{
      max-width: 100%;
      .container{
        max-width: 100%;
          nav{
            padding: 0px 20px;
          // background: rgb(190, 109, 109);
          border-bottom: 0;

          .left_nav{

            .burger{
              img{
                display: block;
                margin-right: 16px;
              }
            }
            
            .logo{
              margin-top: -4px;
            }

            ul{
              li{
                display: none;
              }
            }
          }

          .right_nav{

          }
        }
      }
    }



    main{
      display: flex;
      flex-direction: column;
      max-width: 100%;
      padding: 0;
      .img_block{

        .boots{
          margin-bottom: -150px;
          width: 375px;
          height: 300px;

          img{
            width: 375px;
            height: 300px;

          }
        }
        .boots_img{
          display: none;
        }
      }



      .text_block{
        padding: 10px 24px;
        .comp_name{
          font-size: 12px;
          margin-top: -23px;
        }

        h1{
          margin-top: -10px;
          font-size: 28px;
          line-height: 32px;
        }

        p{
          font-size: 15px;
          line-height: 25px;
          color: red;
          margin-top: -15px;
        }

        .time_sena{
          display: flex;
          flex-direction: column-reverse;

          .product_sena{
            display: flex;
            justify-content: space-between;

            .discount{
              display: flex;
            }
          }

          .time{
            display: flex;
            color: rgb(236, 226, 226);
            justify-content: center;
            margin-top: -1px;
            margin-bottom: 20px;
            gap: 10px;

            .full_time{
              background: red;
              padding: 2px 9px;
              border-radius: 3px;

            }

          }
        }

        .add_to_card{
          display: flex;
          flex-direction: column;
          .count{
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;
            margin-right: 0;
            padding: 12px 20px;

          }

          .add_inform{
          }
        }
      }
    }

    ////------------card----------//////
    
    .card{
      position: fixed;
      top: 14.5%;
      left: 2%;
    }


  }

}






